.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.cont{
    border: 2px solid black;
    width: 300px;
    height: 400px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 10px 10px;
}

.cont h2{
    font-size: 20px;
    text-decoration: underline;
    margin: 20px 0;
}




@media (min-width: 520px){
    .cont{
        border: 2px solid black;
        width: 490px;
        height: 450px;
        text-align: center;
    }

    .top{
        
        font-size: 33px;
    }
}


