.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.cont{
    border: 2px solid black;
    width: 290px;
    height: 430px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 10px 10px;
}

.top{
    margin: 40px;
    font-size: 28px;
}

.top h1{
    margin-bottom: 10px;
}

.centre h2{
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: underline;
}

.centre label{
    margin-bottom: 30px;
    font-size: 15px;
}

.centre input{
    margin: 5px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: antiquewhite;
    margin-bottom: 10px;
    outline: none;
    padding: 6px;
}

.centre input:focus{
    margin: 5px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: antiquewhite;
    margin-bottom: 10px;
    outline: none;
    padding: 6px;
}

.centre #btn{

    padding: 2px 15px;
    border-radius: 5px;
    background-color: rgba(247, 183, 21, 0.468);
    border: 1px solid black;
}

.centre #btn:hover{
    background-color: rgba(70, 247, 21, 0.468);
}

.centre a{
    text-decoration: none;
    color: black;
}


@media (min-width: 520px){
    .cont{
        border: 2px solid black;
        width: 490px;
        height: 500px;
        text-align: center;
    }

    .top{
        
        font-size: 33px;
    }
}


